$bg-gradient: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
$bg-rose: #fb595c;
$bg-blue: #4a63e7;
//Start-global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // transition: all 1.5s ease 0s;
  font-family: "Poppins", sans-serif;
}
.active {
  &:hover {
    color: $bg-rose;
  }
}

// li,
//   a {
//     // padding: 1rem 0rem;
//     font-size: 0.8rem;
//     color: white;
//     text-decoration: none;
//     &:hover {
//       color: $bg-rose;
//       // border-bottom: solid 2px $bg-rose;
//     }
//   }
// }

.transition,
i {
  transition: 300ms ease-in-out !important;
}
.transition-global {
  transition: all 1.5s ease 0s !important;
}

h6 {
  margin: 0px !important;
  padding: 0px !important;
}

.text-rose {
  color: $bg-rose;
}
.text-blue {
  color: $bg-blue;
}

.bg-rose {
  background-color: $bg-rose !important;
}
.bg-blue {
  background-color: $bg-blue;
}
.button-hover {
  color: white !important;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-7px);
  }
  &.btn-1:hover {
    background-color: $bg-blue !important;
  }
  &.btn-2:hover {
    background-color: $bg-rose;
  }
}
.card-hover {
  &.card-hover:hover {
    background-color: $bg-rose;
    color: white !important;
  }
  //here
  &:hover .fa-thumbs-up {
    color: white !important;
  }
}

.point {
  font-size: 2.5rem;
}

.my-bg-gradient {
  background-color: #4a63e7;
  border-radius: 1em;
}

.card-b-s {
  border-radius: 25px;
  box-shadow: -2px 8px 15px rgba(#c7c9d4, 1);
}

.card-b {
  border-radius: 25px !important;
}

.fw-lbold {
  font-weight: 450;
}
.ls-n1 {
  letter-spacing: -0.5px;
}
.ls-1 {
  letter-spacing: 3px;
}

.bg-circle {
  border-radius: 50%;
}

//End-global

.my-nav {
  .list-container {
    line-height: 35px;

    li {
      font-size: 14px;
      transition: 300ms ease-in;
      cursor: pointer;
      i {
        width: 2.5em;
      }
      &:hover {
        padding-left: 5px;
      }
    }
  }
  .role {
    text-transform: uppercase;
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
  }
}
.circular--landscape {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: auto;
  }
}
//Root Container Section
.root-container {
  .header {
    // background-color: rgba(77, 165, 42, 0.74);
    height: 100vh;
  }
  .main {
    // background-color: brown;
    // height: 200vh;
  }
}

//Side-navbar Container
.header-container {
  width: 300px !important;
}

//Top-navbar Container
.topnavs {
  position: fixed;
  margin: 0;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $bg-blue !important;

  li,
  a {
    // padding: 1rem 0rem;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    &:hover {
      color: $bg-rose;
      // border-bottom: solid 2px $bg-rose;
    }
  }
}

//Main Container
.main-container {
  //Home-Start
  .home {
    .home {
      border-radius: 1em;
      color: white;
      background-color: #4a63e7;
      box-shadow: -2px 8px 15px rgba(#dcdeee, 1);
      height: 35rem;
      .button-container {
        h6 {
          display: inline-block !important;
          cursor: pointer;
          border-radius: 25px;
          transition: all 0.3s ease 0s;
          &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transform: translateY(-7px);
          }
          &.button-1 {
            background-color: #fb595c;
            &:hover {
              background-color: #4a63e7 !important;
            }
          }

          &.button-2 {
            &:hover {
              background-color: white;
              color: black !important;
            }
            //here
            &:hover .fa-envelope {
              color: black !important;
            }
          }
        }
      }
    }
  }
  //Home-End
  //About-start
  .about {
    .about {
      border-radius: 25px;
      box-shadow: -2px 8px 15px rgba(#c7c9d4, 1);

      .fs-14 {
        font-size: 14px !important;
      }
      .fw-lbold {
        font-weight: 450;
      }
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .nomp {
    margin: 0px !important;
    padding: 0px !important;
  }
}
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-container {
    width: 575px !important;
  }
  .about {
    .circular--landscape {
      width: 120px;
      height: 100px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-container {
    width: 775px !important;
  }
  .about {
    .circular--landscape {
      width: 150px;
      height: 150px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .main-container {
    width: 875px !important;
  }
}
